<h2>List of Exceptions</h2>

<table>
  <thead>
  	<tr>
	  <th>Date</th>
  	  <th>Error Message</th>	
  	</tr>
  </thead>
  <tbody>
    <% @exceptions.each do |e| %>
	  <tr>
		<td valign="top"><p><%= e.created_at.strftime("%d/%m/%Y %H:%M %p") if !e.created_at.nil? %></p></td>
		<td>
		  <p><%= e.error_message %></p>
		
		  <p>Backtrace:</p> 
		  <div id='backtrace'>
	  		<% if !e.backtraces.empty? %>
		  	  <% e.backtraces.each do  |b| %>
		        <%= b.file %>:<%= b.line_num %> in <%= b.ruby_method %><br />
		      <% end %>
	        <% end %>
		  </div>
	    </td>
	  </tr>
	<% end %>
  </tbody>	
</table>

